input
{
margin-right:2px;
margin-bottom:2px;
}


fieldset
{
margin-top:10px;	
margin-right:0px;
margin-bottom:10px;
padding-left:0px;
padding-right:0px;
}
legend
{
background-color:#ffffff;
}
label
{
border:0px;	
}

fieldset p, .leftLabels label, .leftLabels .label, .wideFields label, .wideFields .label
{
padding-bottom:4px;	
padding-top:4px;	
padding-left:2%;
padding-right:2%;
display:block;
font-size:1em;
clear:both;
}
.wideFields input, .wideFields span, .wideFields textarea, .wideFields select
{
clear:both !important;
display:block;
width:98%;	 
}
.leftLabels .label, .wideFields .label
{
padding-top:8px;	
padding-bottom:8px;	  
}
.leftLabels label span, .leftLabels .label span
{
float:left;
width:30%;
padding:0px;
padding-right:2%;
text-align:right;
clear:left;	
}
.leftLabels input, .leftLabels textarea, .leftLabels select, .leftLabels .field, .leftLabels .fields
{
display:inline;
width:66%;
float:left;
}

.scroll
{
border:1px inset;
height:6em;
overflow:auto;
}
.field span, .fields span,
.field input, .field select, .fields input, .fields select,
.field label, .fields label
{
padding:0px;
width:auto;	
text-align:left;	
display:inline;	
float:none !important;	
clear:none;	
}

.boxlist label
{
clear:both !important;
display:block;
}
.columns label
{
padding-bottom:4px;	
padding-top:4px;
padding-right:1em;
height:auto !important;
display:block;
position:relative;
float:left !important;
text-align:center !important;
}

.columns span,
.columns input, .columns select
{
position:relative;	
display:block;
clear:both !important;
float:none !important;
text-align:center !important;
width:auto !important;
}

.twoCols label, .threeCols label, .fourCols label, .fiveCols label
{
	float:left !important;
	clear:none !important;
	padding-bottom:4px;	
	padding-top:4px;
	padding-right:2% !important;
	padding-left:2% !important;
	text-align:left !important;
}
.twoCols label
{
	width:44%;	
}
.threeCols label
{
	width:28%;	
}
.fourCols label
{
	width:19.6%;
}
.fiveCols label
{
	width:16%;
	padding-right:1% !important;
}

.twoCols label input, .twoCols  label textarea, .twoCols  label select,
.threeCols label input, .threeCols  label textarea, .threeCols  label select,
.fourCols label input, .fourCols  label textarea, .fourCols  label select,
.fiveCols label input, .fiveCols  label textarea, .fiveCols  label select,
.columns label input, .columns  label textarea, .columns  label select
{
	clear:both !important;
	margin:0px;
	margin-top:0.3em;
	margin-left:0.0em;
	width:100%;
}

input.xxlarge, select.xxlarge  { width:60%; }
input.xlarge, select.xlarge   { width:50%; }
input.large, select.large   { width:40%; }
input.medium, select.medium   { width:30%; }
input.small, select.small   { width:20%; }
input.xsmall, select.xsmall   { width:10%; }
input.xxsmall, select.xxsmall   { width:5%; }
input.autoSize, select.autoSize  { width:auto !important;	}
input[size]
{ width:auto !important;	}

.hidden{	display:none !important;}	
.helptext
{
display:inline;

width:100% !important;
font-size:80%;
}
fieldset hr
{
margin-top:40px !important;
clear:both;
}

hr.clear
{
clear:both;
width:0px;
height:0px;
margin:5px;
padding:0px;
border-top:1px solid grey;
border-bottom:1px solid grey;
}
.clear
{
clear:both;	
margin:5px;
padding:0px;
border:none;
color: transparent;
}
.centered, .centered label
{
text-align:center !important;	
}

